page-juego {

    .dark-bg{
        background: #050801;
    }

    .btn{
        position: relative;
        display: inline-block;
        width: 100%;
        height: 100%;
        transition: 0.5%;        
    }

    .r-button{
        background: #e20000;
        box-shadow: 0 0 5px #e20000, 
                    0 0 5px #e20000,
                    0 0 5px #e20000,
                    0 0 5px #e20000; 
     }



    .b-button{
        background: #0105ff;
        box-shadow: 0 0 5px #0105ff, 
                    0 0 5px #0105ff,
                    0 0 5px #0105ff,
                    0 0 5px #0105ff;
    }



    .g-button{
        background: #18cf00;
        box-shadow: 0 0 5px #18cf00, 
                    0 0 5px #18cf00,
                    0 0 5px #18cf00,
                    0 0 5px #18cf00;
    }



    .y-button{
        background: #eeff00;
        box-shadow: 0 0 5px #eeff00, 
                    0 0 5px #eeff00,
                    0 0 5px #eeff00,
                    0 0 5px #eeff00;
    }

    //HOVER EVENTS
    .r-hover:active{
        box-shadow: 0 0 5px #e20000, 
                    0 0 25px #e20000,
                    0 0 50px #e20000,
                    0 0 100px #e20000; 
     }

     .b-hover:active{
        box-shadow: 0 0 5px #0105ff, 
                    0 0 25px #0105ff,
                    0 0 50px #0105ff,
                    0 0 100px #0105ff;
     }

     .g-hover:active{
        
        box-shadow: 0 0 5px #18cf00, 
                    0 0 25px #18cf00,
                    0 0 50px #18cf00,
                    0 0 100px #18cf00;
    }

    .y-hover:active{
        box-shadow: 0 0 5px #eeff00, 
                    0 0 25px #eeff00,
                    0 0 50px #eeff00,
                    0 0 100px #eeff00;
    }

    //GLOW
    .r-sel{
        box-shadow: 0 0 5px #e20000, 
                    0 0 25px #e20000,
                    0 0 50px #e20000,
                    0 0 100px #e20000; 
     }

     .b-sel{
        box-shadow: 0 0 5px #0105ff, 
                    0 0 25px #0105ff,
                    0 0 50px #0105ff,
                    0 0 100px #0105ff;
     }

     .g-sel{
        
        box-shadow: 0 0 5px #18cf00, 
                    0 0 25px #18cf00,
                    0 0 50px #18cf00,
                    0 0 100px #18cf00;
    }

    .y-sel{
        box-shadow: 0 0 5px #eeff00, 
                    0 0 25px #eeff00,
                    0 0 50px #eeff00,
                    0 0 100px #eeff00;
    }

    
    .top-text{
        color: white;
        clear:both;
    }

    .button-container{
        margin-top: 10px;
        height: 90%;
    }

    .row{
        height:50%;
        width: 100%;
    }

    .col{
        height: 100%;
        width:100%;
        padding: 5px;
    }

    //Checkmark animation
    .wrapper {
        width: 100px;
        margin: 4em auto 0;
      }
      
      .checkmark {
        stroke: green;
        stroke-dashoffset: 745.74853515625;
        stroke-dasharray: 745.74853515625;
        animation: dash 2s ease-out forwards infinite;
      }
      
      @keyframes dash {
        0% {
          stroke-dashoffset: 745.74853515625;
        }
        100% {
          stroke-dashoffset: 0;
        }
      }

      .checkmark-bg{
        position:fixed; 
        z-index: 999999;
        background-color: white;
        margin-left: 25%;
        margin-top: 25%;
         border-radius: 25px;
      }
}
